#   .gitignore     (Released under MIT License)    (2022 - Brian Thorson)

#   Local .terraform directories
*tfplan*
**/.terraform/*
.terraform*

#   .tfstate files
*.tfstate
*.tfstate.*

#   Crash log files
crash.log
crash.*.log

#   Some typical backup or zips/tars, etc.
**/old/*
**/backup/*

#   Local override resources 
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#   CLI config files
.terraformrc
terraform.rc

#   Typical sensitive data containing files
#   In this project, we're including vars in 
#   variables.tf for exercise.
*.tfvars
*.tfvars.json
*.ppk
*.pem